<h3> View Purchases from the: </h3>
<%= form_tag :index do %>
  <%= radio_button_tag :days, 'last' %>
  <%= label	:days, "Last Purchase" %> <br>
    <%= radio_button_tag :days, 7 %>
  <%= label	:days, "Past Week" %> <br>
    <%= radio_button_tag :days, 30 %>
  <%= label	:days, "Past Month" %> <br>
    <%= radio_button_tag :days, 10000 %>
  <%= label	:days, "All Time" %><br>
  <%= submit_tag "Go" %>
<% end %>
