<h3>Add more foods: </h3>
Choose from: <% Food.all.each do |food| %>
<%= link_to "#{food.name}", food %>,
<% end %>
<%= form_tag :listcreate do %>
  <%= text_field_tag "food1", "Food" %>
    <%= text_field_tag "quant1", "Quantity" %>
	<br />
  <%= text_field_tag "food2", "Food" %>
    <%= text_field_tag "quant2", "Quantity" %>
	
  <%= submit_tag "Go" %>
<% end %>
