<% if user_signed_in? %>
<!-- Decide header based on history being viewed -->

<% if @days %>
	<% if @days.to_i == 1 %>
		<h1>Listing Purchases from the past day</h1>
	<% elsif @days.to_i == 10000 %>
		<h1>Listing Purchases </h1>
	<% else %>
		<h1>Listing Purchases from the past <%= @days %> days</h1>
	<% end %>
<% else %>
	<h1>Listing Purchases </h1>
<% end %>

<% t = Time.now %>

	 <%
	@vita = 0
	@vitb = 0
	@fiber= 0
	if @days
		@purchases.each do |purchase|
			if purchase.user == current_user.email
				if t.strftime("%d").to_i - purchase.date.strftime("%d").to_i  <= @days.to_i
					@foods.each do |food|
						if food.name == purchase.food
							@vita += food.vitamina * purchase.quantity
							@vitb += food.vitaminb * purchase.quantity
							@fiber += food.fiber * purchase.quantity
							
						end
					end
				end
			end
		end
		
	else
		@purchases.each do |purchase|
			if purchase.user == current_user.email
				@foods.each do |food|
					if food.name == purchase.food
						@vita += food.vitamina * purchase.quantity
						@vitb += food.vitaminb * purchase.quantity
						@fiber += food.fiber * purchase.quantity	
					end
				end
			end
		end
	end
	%>
		
	<!-- # Sort a 2D array by value.  Track name:string and color:string:rgb -->
	<% @amt_name_rgb = [[@vita*100/@vitadv, 'Vitamin A', 'ffffff', 'vitamina'],[@vitb*100/@vitbdv, 'Vitamin B', '000000', 'vitaminb'],[@fiber*100/@fiberdv, 'Fiber', '0000ff','fiber']] %>
	<% @amt_name_rgb.sort! { |a,b| a <=> b } %>
	
	<!-- Check for percent DV and color code -->
	<% @amt_name_rgb.each do |nutrient|
		if nutrient[0] < 20
			nutrient[2] = 'ff0000'
		elsif nutrient[0] < 50
			nutrient[2] = '992222'
		else
			nutrient[2] = '00ff00'
		end
	end
	%>
	
		 <!-- Y-labels and values are taken in reverse order in this API... -->
	<%= image_tag ("http://chart.apis.google.com/chart?&chxl=1:|#{@amt_name_rgb[2][1]}|#{@amt_name_rgb[1][1]}|#{@amt_name_rgb[0][1]}&chm=N|N&chxp=1,20,50,80&chxr=0,0,105&chxs=1,000000,14&chxt=x,y&chbh=a&chs=600x400&cht=bhg&chf=bg,s,65A02C|c,s,98CC66&chco=#{@amt_name_rgb[0][2]},#{@amt_name_rgb[1][2]},#{@amt_name_rgb[2][2]}&chds=0,105,0,105&chd=t:#{@amt_name_rgb[0][0]}|#{@amt_name_rgb[1][0]}|#{@amt_name_rgb[2][0]}&chtt=Nutrient+%DV+Totals", :width => "600", :height => "400", :alt => "Horizontal bar chart") %>
	<br>
		<table>
		<tr>
			<th>Vitamin A </th>
			<th>Vitamin B </th>
			<th>Fiber</th>
		</tr>
		<tr>
		<td> <%= "#{@vita} mg"  %> </td>
		<td> <%= "#{@vitb} mg" %> </td>
		<td> <%= "#{@fiber} g" %> </td>
		</tr>
	
		<tr>
		<td> <%= "#{@vita*100/@vitadv} %"  %> </td>
		<td> <%= "#{@vitb*100/@vitbdv} %" %> </td>
		<td> <%= "#{@fiber*100/@fiberdv} %" %> </td>
		</tr>
	
	
	</table>
	
	
		<!-- Look for deficient vitamins
		look for nutrients that have some of if
		rank them on an exponential scale of how much they will help you for that vitamin.
		These scores will then be linearly summed -->
		
	<%
	@recommend = []
	
	@amt_name_rgb.each do |vitamin|
		if vitamin[0] < 70
			@nutrients.each do |nutrient|
				if nutrient.nutrient.to_s == vitamin[1].to_s
					if nutrient.quantity > 0
						@recommend << [(-(10**(-vitamin[0] * 0.1 - nutrient.quantity * 0.1))) +(10**(-vitamin[0] * 0.1 )), nutrient.food]
					end
				end
			end
		end
	end
	%>
	
	<% @scored = [] %>
	<% @recommend.each do |recommend|	%>
		<%	@repeat = false
			@scored.each do |scored|
				if recommend[1] == scored[1]
					scored[0] += recommend[0]
					@repeat = true
				end
			end
			if @repeat == false
				@scored << recommend
			end
		end
		%>		
	
	<!-- Sort by impact on health -->
	<%	@scored.sort! { |b,a| a <=> b } %>
	
	<b> Recommended foods: </b><br>
	<% @scored.each do |scored| %>
		<% @foods.each do |food| %>
			<% if food.name == scored[1] %>
				<%= link_to "#{scored[1]}".titleize, food %>
			<% end %>
		<% end %>
		<br>
	<% end %>
	<br>
	
	
	<br>
	<%= link_to "Purchase Details", list_path %> <br>
	<%= render 'listform' %> <br>
	<%= render 'historyform' %>
	
	
	
	
	
<% else %>

Check out that empty graph!  You should join the site and fill it up!
<% end %>