<!-- Decide header based on history being viewed -->

<% if @days %>
	<% if @days.to_i == 1 %>
		<h1>Listing Purchases from the past day</h1>
	<% else %>
		<h1>Listing Purchases from the past <%= @days %> days</h1>
	<% end %>
<% else %>
	<h1>Listing Purchases </h1>
<% end %>


<!-- Table of Purches -->
<table>
  <tr>
    <th>Date</th>
    <th>Food</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% t = Time.now %>

<% if user_signed_in? %>
	<% if @days %>
		<% @purchases.each do |purchase| %>
			<% if purchase.date %>
				<% if  t.strftime("%d").to_i - purchase.date.strftime("%d").to_i  <= @days.to_i %>
					<% if purchase.user == current_user.email %>
					  <tr>
						<td><%= purchase.date.strftime("%Y-%m-%d") %></td>
						<td><%= purchase.food%></td>
						<td><%= purchase.quantity %></td>
						<td><%=  %></td>
						<td><%= link_to 'Show', purchase %></td>
						<td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
						<td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
					  </tr>
					  <% end %>
				<% end %>
			<% end %>
		<% end %>
		
	<% else %>
		<% @purchases.each do |purchase| %>
			<% if purchase.user == current_user.email %>
			  <tr>
				<td><%= purchase.date.strftime("%Y-%m-%d") %></td>
				<td><%= purchase.food%></td>
				<td><%= purchase.quantity %></td>
				<td><%=  %></td>
				<td><%= link_to 'Show', purchase %></td>
				<td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
				<td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
			  </tr>
			<% end %>
		<% end %>
	<% end %>

	</table>

	<br />

	<%= link_to 'New Purchase', new_purchase_path %>
	 <%
	@vita = 0
	@vitb = 0
	@fiber= 0
	if @days
		@purchases.each do |purchase|
			if purchase.user == current_user.email
				if t.strftime("%d").to_i - purchase.date.strftime("%d").to_i  <= @days.to_i
					@foods.each do |food|
						if food.name == purchase.food
							@vita += food.vitamina * purchase.quantity
							@vitb += food.vitaminb * purchase.quantity
							@fiber += food.fiber * purchase.quantity
							
						end
					end
				end
			end
		end
		
	else
		@purchases.each do |purchase|
			if purchase.user == current_user.email
				@foods.each do |food|
					if food.name == purchase.food
						@vita += food.vitamina * purchase.quantity
						@vitb += food.vitaminb * purchase.quantity
						@fiber += food.fiber * purchase.quantity	
					end
				end
			end
		end
	end
	%>
	
	<table>
		<tr>
			<th>Vitamin A </th>
			<th>Vitamin B </th>
			<th>Fiber</th>
		</tr>
		<tr>
		<td> <%= @vita %> </td>
		<td> <%= @vitb %> </td>
		<td> <%= @fiber %> </td>
		</tr>
		</table>
<% else %>

Check out that empty graph!  You should join the site and fill it up!
<% end %>

	
	<!-- # Sort a 2D array by value.  Track name:string and color:string:rgb -->
	<% @amt_name_rgb = [[@vita, 'Vitamin A', 'ffffff'],[@vitb, 'Vitamin B', '000000'],[@fiber, 'Fiber', '0000ff']] %>
	<% @amt_name_rgb.sort! { |a,b| a <=> b } %>
	
	 <!-- Y-labels and values are taken in reverse order in this API... -->
	<%= image_tag ("http://chart.apis.google.com/chart?&chxl=1:|#{@amt_name_rgb[2][1]}|#{@amt_name_rgb[1][1]}|#{@amt_name_rgb[0][1]}&chm=N|N&chxp=1,20,50,80&chxr=0,0,105&chxs=1,000000,14&chxt=x,y&chbh=a&chs=600x400&cht=bhg&chf=bg,s,65A02C|c,s,98CC66&chco=#{@amt_name_rgb[2][2]},#{@amt_name_rgb[1][2]},#{@amt_name_rgb[0][2]}&chds=0,105,0,105&chd=t:#{@amt_name_rgb[0][0]}|#{@amt_name_rgb[1][0]}|#{@amt_name_rgb[2][0]}&chtt=Nutrient+Totals", :width => "600", :height => "400", :alt => "Horizontal bar chart") %>
	<br>
	<%= render 'listform' %> <br>
	<%= render 'historyform' %>
