<h1>Listing purchases</h1>

<table>
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Bananas</th>
    <th>Peaches</th>
    <th>Kiwis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.user %></td>
    <td><%= purchase.date %></td>
    <td><%= purchase.bananas %></td>
    <td><%= purchase.peaches %></td>
    <td><%= purchase.kiwis %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>

<table>
	<tr>
		<th>Food</th>
		<th>Vitamin A </th>
		<th>Vitamin B </th>
		<th>Fiber</th>
	</tr>
	<tr>
	<% for i in 0..purchase.bananas %>
	<td><%= Food.find(:all, :conditions => { :name => bananas}).name %>
	
	</tr>
	</table>
