<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Food</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if user_signed_in? %>
<% @purchases.each do |purchase| %>
	<% if purchase.user == current_user.email %>
  <tr>
    <td><%= purchase.date %></td>
    <td><%= purchase.food%></td>
    <td><%= purchase.quantity %></td>
    <td><%=  %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
 <%
@vita = 0
@vitb = 0
@fiber= 0

@purchases.each do |purchase|
	if purchase.user == current_user.email
		@foods.each do |food|
			if food.name == purchase.food
				@vita += food.vitamina * purchase.quantity
				@vitb += food.vitaminb * purchase.quantity
				@fiber += food.fiber * purchase.quantity
			end
		end
	end
end
%>
<table>
	<tr>
		<th>Vitamin A </th>
		<th>Vitamin B </th>
		<th>Fiber</th>
	</tr>
	<tr>
	<td> <%= @vita %> </td>
	<td> <%= @vitb %> </td>
	<td> <%= @fiber %> </td>
	</tr>
	</table>
	<% end %>
	
	<%= image_tag ("http://chart.apis.google.com/chart?&chxl=1:|fiber|vitB|vitA&chm=N|N&chxp=1,20,50,80&chxr=0,0,105&chxt=x,y&chbh=a&chs=600x400&cht=bhg&chf=bg,s,65A02C|c,s,98CC66&chco=000,333,444&chds=0,105,0,105&chd=t:#{@vita}|#{@vitb}|#{@fiber}&chtt=Horizontal+bar+chart", :width => "600", :height => "400", :alt => "Horizontal bar chart") %>
