<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Food</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if user_signed_in? %>
<% @purchases.each do |purchase| %>
	<% if purchase.user == current_user.email %>
  <tr>
    <td><%= purchase.date %></td>
    <td><%= purchase.food%></td>
    <td><%= purchase.quantity %></td>
    <td><%=  %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
 <%
@vita = 0
@vitb = 0
@fiber= 0

@purchases.each do |purchase|
	if purchase.user == current_user.email
		@foods.each do |food|
			if food.name == purchase.food
				@vita += food.vitamina * purchase.quantity
				@vitb += food.vitaminb * purchase.quantity
				@fiber += food.fiber * purchase.quantity
			end
		end
	end
end
%>
<table>
	<tr>
		<th>Vitamin A </th>
		<th>Vitamin B </th>
		<th>Fiber</th>
	</tr>
	<tr>
	<td> <%= @vita %> </td>
	<td> <%= @vitb %> </td>
	<td> <%= @fiber %> </td>
	</tr>
	</table>
	<% end %>
