<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @purchase.user %>
</p>

<p>
  <b>Date:</b>
  <%= @purchase.date %>
</p>

<p>
  <b>Bananas:</b>
  <%= @purchase.bananas %>
</p>

<p>
  <b>Peaches:</b>
  <%= @purchase.peaches %>
</p>

<p>
  <b>Kiwis:</b>
  <%= @purchase.kiwis %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
