<p id="notice"><%= notice %></p>

<div class = header >
  <%= @food.name.titleize %>
</div>

<div class= graph >
	<%= image_tag ("http://chart.apis.google.com/chart?&chxl=1:|Fiber|Vitamin B|Vitamin A&chm=N|N&chxp=1,20,50,80&chxr=0,0,105&chxs=1,000000,14&chxt=x,y&chbh=a&chs=600x400&cht=bhg&chf=bg,s,65A02C|c,s,98CC66&chco=000000,000000,000000&chds=0,105,0,105&chd=t:#{@food.vitamina}|#{@food.vitaminb}|#{@food.fiber}&chtt=Nutrient+%DV+Totals", :width => "600", :height => "400", :alt => "Horizontal bar chart") %>
	</div>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', purchases_path %>
